# Gradle
.gradle/
/build/
cap/
*.class

# Android build outputs
*.apk
*.aab
*.ap_
captures/
.externalNativeBuild/
.cxx/
lint-baseline.xml

# Android Studio / IntelliJ
.idea/
.vscode/
*.iml
local.properties
*.log

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof

# Kotlin specific
*.kotlin_module
.idea/compiler.xml
.idea/kotlinc.xml
