<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="16"
    android:versionName="1.4.0" >
<application
        android:name=".SurfApplication"
        android:icon="@drawable/surf"
        android:label="@string/app_name"
        android:theme="@style/Theme.DroidSurf" >
        <activity
            android:name=".SurfRecordActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SurfRecordDetailActivity" android:exported="true"></activity>
        <activity android:name="SurfRecordLogListActivity" android:exported="true"></activity>
    </application>
</manifest>